

<link href="~/assets/css/main.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>

<section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h1 style="color: var(--color-primary);">P<span style="color: #fd5f00;">r</span>iva<span style="color: #fd5f00;">c</span>y</h1>
            <p>We prioritize the security of your personal information and employ industry-standard measures to protect it from unauthorized access or disclosure.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                    <h3 style="color:var(--color-primary);">Data Encryption</h3>
                    <p style="color:var(--color-primary);"><strong>Your data is encrypted to ensure secure transmission and storage, protecting it from unauthorized access.</strong></p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-hand-thumbs-up"></i>
                    </div>
                    <h3 style="color: #ff3f00;">Transparency</h3>
                    <p style="color:var(--color-primary);"><strong>We believe in transparency and provide clear insights into how your data is collected, used, and shared.</strong></p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-file-lock"></i>
                    </div>
                    <h3 style="color:var(--color-primary);">Privacy Policy</h3>
                    <p style="color:var(--color-primary);"><strong> Our comprehensive privacy policy outlines our commitment to protecting your privacy and personal information.</strong></p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-eye"></i>
                    </div>
                    <h3 style="color: #ff3f00;">
                        Access Control</h3>
                    <p style="color:var(--color-primary);"><strong>We implement strict access controls to ensure that only authorized individuals have access to your data.</strong></p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-lock"></i>
                    </div>
                    <h3 style="color:var(--color-primary);">Confidentiality</h3>
                    <p style="color:var(--color-primary);"><strong>Your information is treated with the utmost confidentiality, and we never share it with third parties without your consent.</strong></p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-shield-check"></i>
                    </div>
                    <h3 style="color: #ff3f00;">Security Audits</h3>
                    <p style="color:var(--color-primary);"><strong>We conduct regular security audits to identify and address any vulnerabilities in our systems and processes.</strong></p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>
</section>


