@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<style>

	body {
		background-image: url('https://convertingcolors.com/radial-008374.svg'); /* Set the background image of the page */
		background-size: cover; /* Cover the entire background */
		background-repeat: no-repeat; /* Do not repeat the background image */
	}
</style>

<h1 style="color: var(--color-primary);">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
