@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
<style>

    body {
        background-image: url('https://convertingcolors.com/radial-008374.svg'); /* Set the background image of the page */
        background-size: cover; /* Cover the entire background */
        background-repeat: no-repeat; /* Do not repeat the background image */
    }

    .btn {
        margin-top: 10px;
        margin-right: 5px; /* Added margin between buttons */
        font-size: 16px;
        padding: 10px 20px;
        background-color: #fd5f00;
        color: #fff;
        border: 2px solid #fd5f00;
        border-radius: 25px;
        transition: all 0.3s ease;
    }


        .btn:hover {
            background-color: #fff;
            color: #fd5f00;
            border: 2px solid #fd5f00;
        }

</style>

<h1>@ViewData["Title"]</h1>
<h2 style="color: var(--color-primary);">Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
